
<header class="centered-navigation">
  <div class="centered-navigation-wrapper">

    <a href="javascript:void(0)" class="mobile-logo">
      <img src="https://cdn3.iconfinder.com/data/icons/pictofoundry-pro-vector-set/512/Diamond-128.png" alt="Logo image">
    </a>
    <a href="" class="centered-navigation-menu-button">MENU</a>

    <ul class="centered-navigation-menu">
      <li class="nav-link"><a href="javascript:void(0)">About Me</a></li>
      <li class="nav-link"><a href="javascript:void(0)">Projects</a></li>
      <li class="nav-link"><%= link_to "Blog", posts_path, :target => "_blank" %></li>
    </ul>
  </div>
</header>

<div class="hero">
	<div class="hero-inner">
    <a href="" class="hero-logo"></a>
		<div class="hero-copy">
			<h1>Eric D. Epperson</h1>
			<p>Ruby on Rails Developer</p>
      <div id="socialmedia">
        <ul>
          <li>
            <a href="mailto:ericdavidepperson@gmail.com" class="tooltip">
            <%= image_tag('email.png')%>
            <span>
              <%= image_tag('callout.gif', class:"callout")%>
              <strong>ericdavidepperson@gmail.com</strong>
            </span>
            </a>
          </li>
          <li>
            <a href="http://www.linkedin.com/pub/eric-epperson/2a/973/364/" target="blank">
              <%= image_tag('linkedin.png')%>
            </a>
          </li>
          <li>
            <a href="#" class="tooltip">
            <%= image_tag('phone_icon_32.png')%>
            <span style="width:200px;">
              <%= image_tag('callout.gif', class:"callout")%>
              <strong>913.206.5949</strong>
            </span>
            </a>
          </li>
          <li>
            <a href="#" class="tooltip">
            <%= image_tag('github_alt.png')%>
            <span>
              <%= image_tag('callout.gif', class:"callout")%>
              <strong>Professional Github</strong>
            </span>
            </a>
          </li>
          <li>
            <a href="#" class="tooltip">
            <%= image_tag('github_alt.png')%>
            <span>
              <%= image_tag('callout.gif', class:"callout")%>
              <strong>Iron Yard Academy Github</storng>
            </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
	</div>
</div>
