<head>
  <style>
    body {
      margin:0px;
      background-image: url('http://s25.postimg.org/e4e5sei3z/Arch_with_lens_flare.jpg');
      background-image: no-repeat;
    }
  </style>
</head>

<header class="centered-navigation">
  <div class="centered-navigation-wrapper">

    <a href="javascript:void(0)" class="mobile-logo">
      <img src="https://cdn3.iconfinder.com/data/icons/pictofoundry-pro-vector-set/512/Diamond-128.png" alt="Logo image">
    </a>
    <a href="" class="centered-navigation-menu-button">MENU</a>

    <ul class="centered-navigation-menu">
      <li class="nav-link"><a href="#" data-reveal-id="myModal">About Me</a></li>
      <li class="nav-link"><a href="construction.html">Projects</a></li>
      <li class="nav-link"><%= link_to "Blog", posts_path, :target => "_blank" %></li>
    </ul>
  </div>
</header>

<div class="hero">
	<div class="hero-inner">
    <a href="" class="hero-logo"></a>
		<div class="hero-copy">
			<h1>Eric D. Epperson</h1>
			<p>Ruby on Rails Developer</p>
      <div id="socialmedia">
        <ul>
          <li>
            <a href="mailto:ericdavidepperson@gmail.com" class="tooltip">
            <%= image_tag('email.png')%>
            <span>
              <%= image_tag('callout.gif', class:"callout")%>
              <strong>ericdavidepperson@gmail.com</strong>
            </span>
            </a>
          </li>
          <li>
            <a href="http://www.linkedin.com/pub/eric-epperson/2a/973/364/" target="blank">
              <%= image_tag('linkedin.png')%>
            </a>
          </li>
          <li>
            <a href="#" class="tooltip">
            <%= image_tag('phone_icon_32.png')%>
            <span style="width:200px;">
              <%= image_tag('callout.gif', class:"callout")%>
              <strong>913.206.5949</strong>
            </span>
            </a>
          </li>
          <li>
            <a href="https://github.com/EricDavidEpperson" class="tooltip" target="blank">
            <%= image_tag('github_alt.png')%>
            <span>
              <%= image_tag('callout.gif', class:"callout")%>
              <strong>Professional Github</strong>
            </span>
            </a>
          </li>
          <li>
            <a href="https://github.com/scarecrow182000" class="tooltip" target="blank">
            <%= image_tag('github_alt.png')%>
            <span>
              <%= image_tag('callout.gif', class:"callout")%>
              <strong>Iron Yard Academy Github</strong>
            </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
	</div>
</div>

<div id="myModal" class="reveal-modal">
   <h1>Who is Eric D. Epperson?</h1>
   <p>First thing you should know about me: I have spent the past 15 years of my
     life working as a cook/chef/restrauranteer. It's a great lifestyle for
     someone young and in college or not ready for college. It's Not so great as you
     become a little more mature (and I do mean a little).</p>
   <p>That's why I took the Ruby on Rails Engineering course at The Iron Yard
     Academy. I've always loved using computers and technology and it was finally
     time for me to indulge my first passion in life.</p>
   <p>So if you're needing to bring on a passionate Software/Web Developer with
     practical business experience, please contact me.</p>
   <a class="close-reveal-modal">&#215;</a>
</div>
