<!DOCTYPE html>
<html>
<head>
  <title>Eric Epperson - My little piece of the Internet.</title>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

  <%= csrf_meta_tags %>

</head>
<body>

  <% if user_signed_in? %>
    <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
  <% end %>

<%= yield %>

</body>
</html>
